In [ ]:
import numpy as np

In [6]:
array = np.load('d_emb_seg/raw/201704.txt.npy')
array2 = np.load('d_emb_seg/train/201704.txt.npy')
array3 = np.load('d_emb_seg/test/201704.txt.npy')
array4 = np.load('d_emb_seg/valid/201704.txt.npy')

In [7]:
print(array.shape, array2.shape, array3.shape, array4.shape)

(198007,) (21160,) (2645,) (2645,)

In [8]:
21160 + 2645*2

26450

In [10]:
array2

array([ 197, 3437, 1724, ...,   11,  692,   25], dtype=int32)

In [1]:
# -*- coding: utf-8 -*-

import glob
import numpy as np
import pandas as pd
import pickle
import re

In [2]:

# Change this to the name of the folder where your dataset is
dataset_name = 'd_emb_seg'
# Change this to the number of words you want in the vocabulary
V = 5000

files = glob.glob(dataset_name +'/raw/*.txt')
dictionary = {}
count = {}
N = len(files)

In [3]:
for f_number, fn in enumerate(files):
    #print(str(f_number)+" out of "+str(N))
    with open(fn, 'r') as myfile:
        words = myfile.read().replace('\n', ' ').split(' ')
    data = np.zeros(len(words))
    for idx, word in enumerate(words):
        if word not in dictionary:
            count[len(dictionary)] = 1
            dictionary[word] = len(dictionary)
        data[idx] = dictionary[word]
        count[data[idx]] += 1
    np.save(fn.replace('.txt2','.npy'), data.astype('int32'))

In [4]:

#pickle.dump( dictionary, open( 'raw/dict.pkl', "a+" ) )
#pickle.dump( count, open( 'raw/counts.pkl', "a+" ) )

df = pd.DataFrame.from_dict(dictionary, orient='index')
cf = pd.DataFrame.from_dict(count, orient='index')
df.columns = ['idx']
cf.columns = ['cnt']
uni = df.join(cf, on = 'idx')

unig = uni.sort_values(by='cnt', ascending = False).reset_index().reset_index()

unig.columns = ['new_idx', 'word', 'old_idx', 'cnt']

old_idx = unig.old_idx.values

In [20]:
unig

        new_idx      word  old_idx      cnt
0             0         的       21  1673239
1             1         是       27   490105
2             2         了        6   452531
3             3         在       23   283107
4             4        美国       18   282248
...         ...       ...      ...      ...
269305   269305       人不亲    70244        2
269306   269306        科体   179727        2
269307   269307        教演   179726        2
269308   269308      如山如海    70251        2
269309   269309  kennethp   269309        2

[269310 rows x 4 columns]

In [ ]:
files = glob.glob(dataset_name +'/raw/*.npy')
for f_number, fname in enumerate(files):
    print(str(f_number)+" out of "+ str(N))
    dat = np.load(fname)
    new_dat = np.zeros_like(dat) + 2*V
    
    for ni, oi in enumerate(old_idx[:V]):
        new_dat[dat == oi] = ni
    new_dat = new_dat[new_dat < V].astype('int32')
    new_fname = fname.replace('raw/','train/')
    np.save(new_fname, new_dat)

unig.head(V).to_csv(dataset_name + '/unigram.txt',header=False, index = False, sep = '\t', columns = ['word', 'new_idx', 'cnt'])

In [12]:
dat = np.load('d_emb_seg/raw/201704.txt.npy') # dat is an index array
new_dat = np.zeros_like(dat) + 2*V

In [17]:
dat

array([  160,   400,  1332, ..., 80829,     6, 15823], dtype=int32)

In [16]:
new_dat

array([10000, 10000, 10000, ..., 10000, 10000, 10000], dtype=int32)

In [19]:
old_idx

array([    21,     27,      6, ..., 179726,  70251, 269309])

In [25]:
dat

array([  160,   400,  1332, ..., 80829,     6, 15823], dtype=int32)

In [24]:
dat == 6

array([False, False, False, ..., False,  True, False])

In [26]:
new_dat[dat == 6] = 2

In [27]:
new_dat

array([10000, 10000, 10000, ..., 10000,     2, 10000], dtype=int32)

In [28]:
# replace old index with new index
for ni, oi in enumerate(old_idx[:V]):
    new_dat[dat == oi] = ni

In [29]:
new_dat

array([   50,   160,   132, ..., 10000,     2,  1038], dtype=int32)

In [ ]:
new_dat = new_dat[new_dat < V].astype('int32') # remove words have a new index larger than capped number
new_fname = fname.replace('raw/','train/')